*:not(xmp):not(code) {
    font-family: 'Mountains of Christmas', cursive;
    font-family: 'Oswald', sans-serif;
}

xmp {
    overflow: auto;
    background-color: rgb(39, 39, 39);
    color: white;
    font-weight: bold;
    padding: 1em;
    font-style: oblique;
    font-family: monospace;
    box-shadow: inset 0px 0px 10px black;
}

.code-div {
    background-color: rgb(255, 255, 255);
    padding: .2em .4em;
    color: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px black;
}

::-webkit-progress-bar {
    color: rgb(47, 144, 255);
}

code {
    background-color: rgba(0, 0, 0, 0.075);
    padding: 1px;
}